{{ dynamic_sidebar('before-single-content') }}

<div class="single-content text-justify {{ post_type|default('') }}-content {{ content_class|default('my-6') }}">
    {{ the_content() }}
</div>

{{ dynamic_sidebar('after-single-contenet') }}

{% if comments_open(post) %}
    {{ render_if_has_content('div', {class: 'mb-5 mt-11' }, comments_template()) }}
{% endif %}
