
{{ dynamic_sidebar('before-single-content') }}

<div class="single-content text-justify {{ post_type|default('')|esc_attr }}-content {{ content_class|default('my-6')|raw }}">
{{ the_content()|raw }}
</div>

{{ dynamic_sidebar('after-single-contenet') }}

{% if comments_open(post) %}
    <div class="mb-5 mt-11">
        {{ comments_template()|raw }}
    </div>
{% endif %}
