{{ dynamic_sidebar('before-single-content') }}
{{ pmpr_do_action('before_single_content', post, post_type) }}
{{ pmpr_do_action('before_' ~ post_type ~ '_single_content', post) }}

<div class="single-content{% if not wc_is_account_page() %} text-justify{% endif%} {{ post_type|default('') }}-content {{ content_class|default('my-5') }}">
    {{ the_content() }}
</div>

{{ pmpr_do_action('after_' ~ post_type ~ '_single_content', post) }}
{{ pmpr_do_action('after_single_content', post, post_type) }}
{{ dynamic_sidebar('after-single-contenet') }}

{% if comments_open(post) %}
    {% set comments %}
        {{ comments_template() }}
    {% endset %}
    {{ render_if_has_content('div', {class: 'mb-5 mt-11' }, comments) }}
{% endif %}
