{% if items is defined
    and items is not empty %}
    <div class="d-flex">
        {% for item in items %}

            {% set container_class = 'd-block' ~ (not loop.last ? ' mr-4': '') %}
            {% if item.markup is not empty %}
                {{ render_if_has_content('div', {class: container_class}, item.markup) }}
            {% elseif item.image is not empty %}

                {% if item.link is not empty %}

                    <a href="{{ item.link|esc_attr }}" class="{{ container_class|esc_attr }}"
                       title="{{ item.title|esc_attr }}"{% if item.rel is not empty %} rel="{{ item.rel|join(' ') }}"{% endif %}>
                        {{ wp_get_attachment_image(item.image, item.image_size)|raw }}
                    </a>

                {% else %}

                    {{ wp_get_attachment_image(item.image, item.image_size, {class: container_class})|raw }}

                {% endif %}

            {% endif %}

        {% endfor %}
    </div>
{% endif %}
