<div class="rating-inputs d-flex justify-content-center flex-row-reverse mb-2">
    {% for index in 5..1 %}
        <input id="{{ name ~ index|esc_attr }}" name="{{ name|esc_attr }}" type="radio" value="{{ index }}">
        <label for="{{ name ~ index|esc_attr }}" class="rating-label font-weight-bold p-3 lh-xl fs-xs" data-value="{{ index|esc_attr }}">{% if show_number %}{{ index|number }}{% endif %}</label>
    {% endfor %}
    {% if recaptcha_enable %}

    {% endif %}
</div>

