<div class="pr-spinner w-100 h-100 centered-absolute z-index-3{% if overlay|default(1) %} overlay dark-50{% endif %}{% if color is not empty %} text-{{ color|esc_attr }}{% endif %}{% if show %} show{% endif %}{% if class is not empty %} {{ class|esc_attr }}{% endif %}">
    <div class="centered-absolute z-index-4">
        <span class="spinner-{{ type|esc_attr }} spinner-{{ type|esc_attr }}-{{ size|esc_attr }}" role="status" aria-hidden="true">
                {{ render_if_has_content('span', {class: 'sr-only'}, text) }}
        </span>
    </div>
</div>

