<div class="container">
    <article class="row no-gutters position-relative">
        <a href="{{ get_permalink(magazine)|esc_url }}" class="stretched-link" title="{{ get_title(magazine) }}"></a>
        {% include get_cover_template('common/post/thumbnail') with {
            post: magazine,
            image_size: is_mobile ? 'medium' : 'medium_large',
            image_attr: {class: 'w-100'},
            figure_class: 'col-12 col-md-4 responsive mb-0'
        } %}
        <div class="col-12 col-md-8 bg-gray-2 text-white p-6 p-md-8 text-justify">
            {% if display_title %}
                <h3 class="text-white">{{ get_title(magazine)|raw }}</h3>
            {% endif %}
            {% if magazine_description is not empty %}
                {{ wpautop(magazine_description)|raw }}
            {% else %}
                {{ get_the_excerpt(magazine)|raw }}
            {% endif %}
        </div>
    </article>
</div>
