{% extends get_cover_template('common/carousel/carousel') %}

{% set carousel_class = 'full-width animated-carousel front-first-slider max-vh-100' %}
{% set container_class = 'overflow-hidden max-vh-100' %}

{% set carousel_config = {
    fade: true,
    loop: true,
    dots: true,
    speed: 1000,
    arrows: false,
    autoplay: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplaySpeed: 8000,
    variableWidth: false,
    adaptiveHeight: false
} %}

{% block before_slides %}
    <div {{ add_animation({class: 'position-absolute right-0 z-index-1 bg-white', id: 'carousel_logo'}, 'fadeInDown', 1, 1, 1)|raw }}>
        {% set logo_size = is_mobile() ? 120 : 180 %}
        {% include get_cover_template('common/logo') with {
            has_link: 0,
            logo_size: [logo_size, logo_size],
            logo_type: 'large'
        } %}
    </div>
{% endblock %}

{% block carousel %}
    {% embed get_cover_template('common/background_media') with {
        image_url: wp_get_attachment_image_url(carousel.image),
        container_class: 'image-cover carousel-item min-vh-100',
    } %}
        {% block body %}
            {% set common_class = 'highlight-text white-primary font-weight-bold px-1 d-table' %}
            <article class="carousel-item-content">
                {% if carousel.button is empty %}
                    <a href="{{ carousel.permalink|esc_url }}" title="{{ carousel.title|esc_attr }}"
                       class="stretched-link"{% if carousel.external_link %} rel="noopener noreferrer nofollow" target="_blank"{% endif %}></a>
                {% endif %}
                <div class="container centered-absolute top-{{ carousel.position_from_top|esc_attr }} lh-md">
                    {% if carousel.title is not empty %}
                        <h3 {{ add_animation({class: common_class ~ ' mb-0 fs-' ~ carousel.titlefontsize}, 'fadeInLeft', 2, 1, loop.first) }}>{{ carousel.title|raw }}</h3>
                    {% endif %}
                    {% if carousel.text is not empty %}
                        <span {{ add_animation({class: common_class  ~ ' fs-' ~ carousel.textfontsize ~ ' mt-' ~ carousel.textmargin }, 'fadeInLeft', 3.5, 1, loop.first) }}>{{ carousel.text|raw }}</span>
                    {% endif %}
                    {% if carousel.subtext is not empty %}
                        <span {{ add_animation({class: common_class ~ ' fs-' ~ carousel.subtextfontsize ~ ' mt-' ~ carousel.subtextmargin}, 'fadeInLeft', 5, 1, loop.first) }}>{{ carousel.subtext|raw }}</span>
                    {% endif %}
                    {% if carousel.button is not empty %}
                        <a {{ add_animation({class: 'btn btn-lg main-action mt-4'}, 'fadeInLeft', 6.5, 1, loop.first) }}>{{ carousel.button|raw }}</a>
                    {% endif %}
                </div>
            </article>
        {% endblock %}
    {% endembed %}
{% endblock %}
