<div class="carousel-arrow separated-arrows {{ class|esc_attr }}">
    {% set icon = icon|default('angle') %}
    {% set btn_class = btn_class|default('') ~ ' bg-primary d-flex' %}
    {% set icon_attrs = {class: 'm-auto icon-white'} %}
    <a class="prev {{ btn_class }} {{ prev_class }}">
        {{ render_icon('fontawesome/' ~ icon ~ '-right', icon_attrs, 1) }}
    </a>
    <a class="next {{ btn_class }} {{ next_class }}">
        {{ render_icon('fontawesome/' ~ icon ~ '-left', icon_attrs, 1) }}
    </a>
</div>
