{% if items is defined
    and items is not empty %}
    {{ render_if_has_content('h2', {class: 'h4 mb-5'}, title) }}
    <div class="row">
        {% for item in items %}
            <div class="col-12 col-lg-6 mb-5">
                <article class="card bg-gray-1">
                    <div class="card-body d-flex">
                        {% include get_cover_template('common/post/thumbnail') with {
                            post: item.post_id,
                            has_figure: 0,
                            image_size: [120, 120],
                        } %}
                        <div class="ml-4 w-100 d-flex flex-column justify-content-between">
                            <div class="mb-2">
                                {{ render_if_has_content('h3', {class: 'mt-0 mb-1'}, item.title) }}
                                {% if item.post_title and item.permalink %}
                                    <span>{{ related_to|raw }}:&nbsp;</span>
                                    <a href="{{ item.permalink|esc_attr }}"
                                       class="text-secondary">{{ item.post_title|raw }}</a>
                                {% endif %}
                            </div>
                            <a href="{{ item.view_link|raw }}" class="btn text-white bg-primary-secondary d-block"
                               title="{{ view_title|esc_attr }}" aria-label="{{ view_title|esc_attr }}">
                                {{ view_title|raw }}
                            </a>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
{% else %}
    {{ empty_message|raw }}
{% endif %}
