<div class="card border">
    <h2 class="card-header mb-0" id="question-{{ question.id|esc_attr }}">
        <button class="btn btn-block d-flex justify-content-between rotate-180 collapsed" type="button" data-toggle="collapse"
                data-target="#response-{{ question.id|esc_attr }}" aria-expanded="true"
                aria-controls="response-{{ question.id|esc_attr }}">
            <span class="text-left font-weight-bold fs-xs fs-md-sm">{{ question.question|raw }}</span>
            {{ render_icon('fasm/6/set/angle-up', {class: 'my-auto'}) }}
        </button>
    </h2>
    <div id="response-{{ question.id|esc_attr }}" class="collapse" aria-labelledby="question-{{ question.id|esc_attr }}"
         data-parent="#faq_list">
        <div class="card-body text-gray-3 fs-xs fs-md-sm">{{ question.response|raw }}</div>
    </div>
</div>

